*, *::after, *::before {
	box-sizing: border-box; /* caniuse.com  to check browser data */
}

.box {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex: wrap;
	-ms-flex: wrap;
	flex-wrap: wrap;

	justify-content: space-around;
}

.box-item {

	 flex: 1 1 auto; 
}


.card-container {
	flex: 3 1 260px;
}


	.active {
    	display: block;
	}


@media (min-width: 1100px) {
	.navbar-toggle {
		display: none;
	}
}


@media (max-width: 1100px) {

	.nav-items li {
		text-align: center;
		margin: 15px auto;
		flex-direction: column;
	}

	.navbar-toggle {
	    position: absolute;
	    top: 1.5em;
	    right: 10%;
	    color: black;
	    font-size: 24px;
	}

	.nav-items, .primary-buttons{
		list-style-type: none;
    	display: none;
	}

	.logo {
		display: inline-block;

	}


}


@media (max-width: 500px) {
	.box {
		flex-direction: column;
	}

	.box-item input{
		width: 320px;
	}
}