@font-face {
	font-family: 'Roboto Mono';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: lighter;
	font-style: normal;
	src: url('../fonts/RobotoMono-Light.ttf') format('truetype');
}