@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500&display=swap');

*,*::after,*::before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html {
	font-family: "Roboto Mono", monospace;
	margin:0;
	padding: 0;
}

a {
	color: black;
}

button {
	font-family: "Roboto Mono", monospace;
	font-weight: 300;
	font-size: 12px;
	padding: 0.6em 1.75em;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5em;
	transition: all 0.25s ease-out;
	display: inline-block;
}

.primary-buttons {
	float: right;
}

button:hover, button:active, button:focus {
	transition: background-color 0.25s ease-out;
	background-color: rgb(129,156,75);
}


/* HAMBURGER MENU 
citation: https://codepen.io/mutedblues/pen/MmPNPG */
.header {
	font-family: "Roboto Mono", monospace;
	background-color: white;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.1);
	position: sticky;
	width: 100%;
	z-index: 10;
	padding: 1em 0 1em 0;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}

.header .menu-items a {
	display: block;
	padding: 12px 12px;
	text-decoration: none;
	transition: .25s ease-out;
	text-align: center;
}

.header .menu-items a:hover, .header .menu-btn:hover {
	background-color: rgb(205,218,177);
	transition: .25s ease-out;
}

.header .logo {
	font-size: 1.5em;
	text-decoration: none;
	display: block;
	float: left;
	padding: 10px 20px;
	margin-left: 2em;
	margin-right: 2em;
}

.header .join-button {
	padding: 0.7em 5em;
	margin: 0.5em 0;
	display: inline-block;
}

.header .nav-button{
	text-align: center;
}


.header .menu {
	font-size: 0.8em;
	clear: both;
	max-height: 0;
	transition: max-height .25s ease-out;
}


/* hamburger icon */
.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
	margin-right: 3em;
}

.header .menu-icon .navicon {
	background: black;
	display: block;
	height: 2px;
	width: 18px;
	position: relative;
	transition: background .25s ease-out;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: black;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .25s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}

/* expanded menu within hamburger icon */
.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 290px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;

}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}



@media (min-width: 1000px) {
	.header {
		align-items: center;
		display: inline-block;
	}

	.header li {
	    float: left;
	    text-align: center;
	}
  
	.header li a {
    	padding: 20px 30px;
	}

	.header .menu {
	    clear: none;
	    max-height: none;
	}

	.header .nav-button {
	  	float: right;
	  	display: inline-block;
	}

  	.header .login-button{
  		margin-right: 3em;
  	}

  	.header .join-button {
		padding: 0.6em 2em;
  	}

	.header .nav-button a{
		padding-left: 4px;
	}

  	.header .menu-icon{
    	display: none;
  	}
}

