@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');

html {
	font-family: "Nanum Gothic", sans-serif;
	margin:0;
	padding: 0;
}


*,*::after,*::before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

body{
	margin: 0;
}


a {
	color: black;
}

button {
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 400;
	font-size: 12px;
	padding: 1em 0;
	width: 10em;
	background-color: black;
	color: white;
	border: none;
	border-radius: 15em;
	transition: all 0.25s ease-out;
	display: inline-block;
}

.primary-buttons {
	float: right;
}

button:hover, button:active, button:focus {
	transition: background-color 0.25s ease-out;
	background-color: rgb(129,156,75);
	cursor: pointer;
}

figcaption {
	font-size: 11px;
	font-weight: 400;
	text-align: center;
}


/* HAMBURGER MENU 
citation: https://codepen.io/mutedblues/pen/MmPNPG */
.header {
	font-family: "Nanum Gothic", sans-serif;
	background-color: white;
	position: fixed;
	display: inline-block;
	align-items: center;
	top: 0;
	width: 100vw;
	z-index: 10;
	padding: 1em 0 1em 0;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.1);
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}

.header .menu-items a {
	display: block;
	padding: 12px 12px;
	text-decoration: none;
	transition: .25s ease-out;
	text-align: center;
}

.header .menu-items a:hover, .header .menu-btn:hover {
	background-color: rgb(205,218,177);
	transition: .25s ease-out;
}

.header .logo {
	font-size: 1.5em;
	text-decoration: none;
	display: block;
	float: left;
	padding: 10px 20px;
	margin-left: 2em;
	margin-right: 1em;
}

.header .join-button {
	padding: 0.9em;
	margin: 0.5em 0;
	display: inline-block;
	width: 10em;
}

.header .nav-button a{
	padding: 0;
}

.header .nav-button{
	text-align: center;
  }


.header .menu {
	font-size: 0.8em;
	clear: both;
	max-height: 0;
	transition: max-height .25s ease-out;
}


/* hamburger icon */
.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
	margin-right: 3em;
}

.header .menu-icon .navicon {
	background: black;
	display: block;
	height: 2px;
	width: 18px;
	position: relative;
	transition: background .25s ease-out;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: black;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .25s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}

/* expanded menu within hamburger icon */
.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 290px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;

}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}





/*INDEX CONTENT */
.container {
	margin-top: 5em;
	margin-bottom: 4em;
	background-color: rgb(205,218,177);
	display: flex;
	flex-direction: column;
}

.container-header {
	margin: 2.5em 0 1em 4.5em;
}

.container-header h2 {
	font-size: 1.5em;
	margin-left: 0;
	padding-bottom: 0;
}

.container-header p {
	max-width: 45em;
	font-size: 1em;
	padding-bottom: 0.5em;
}

.container-content ul{
	background-color: transparent;
	min-width: auto;
	min-height: 300px;
	padding-bottom: 2em;
	display: flex;
	overflow-x: auto;
	margin-left: 2em;
	margin-right: 0.5em;
	list-style: none;
}

.container-content ul li {
	padding-right: 2em;
}

.container-content ul::-webkit-scrollbar {
	display: none;
}

.container-content ul li img{
	width: 330px;
}

.second-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.second-container h2{
	font-size: 1.5em;
	margin-left: 0;
	padding-bottom: 0;
}

.second-container .second-container-content ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 0 2em;
	padding-left: 0;
	padding-bottom: 3em;
}

.second-container .second-container-content ul li{
	text-align: center;
	padding: 0 3em;
}

.second-container .second-container-content h3{
	color: rgb(129,156,75);
}

.second-container .second-container-content h2{
	font-size: 1em;
	font-weight: 700;
	margin: 0;
}

.second-container .second-container-content p{
	font-size: 0.9em;
}

/* PRODUCT CARDS */

.card-content {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.25);
	padding-top: 2em;
	padding-left: 2em;
}

.container-content .card-content .card-title {
	font-size: 1.25em;
	font-weight: 700;
	margin-top: 0.5;
	padding: 0.5em 0 0.5em 0;
}

.container-content .card-content p {
		font-size: 1.15em;
		padding: 0 0.75em 0em 0.75em;
}

.container-content .card-content button {
	margin-top: 1em;
	margin-bottom: 1em;
}




/* PRICING PAGE */
.container-content .card-content .plan-price {
	font-size: 1.25em;
	font-weight: 700;
	color: rgb(129,156,75);
	padding-top: 0;
}

.container-content .pricing-card .card-title {
	font-size: 1.3em;
	font-weight: 700;
	color: white;
	margin-bottom: 0;
	padding: 0.25em 0 0.6em 0;
}

.container-content .pricing-card img {
	width: 280px;
}

.container-content .pricing-card {
	background-color:rgb(129,156,75);
	width: 340px;
	padding: 0 5px 0.6em 5px;
	margin-right: 3em;
	margin-bottom: 2em;
	border-radius: 1.25em;
}

.container-content .pricing-card p {
	color: rgb(205,218,177);
}

.container-content .pricing-card .plan-price {
	color: white;
	font-size: 1.5em;
}

.container-content .pricing-card button:hover, .container-content .pricing-card button:active, .container-content .pricing-card button:focus {
	background-color: rgb(205,218,177);
	color: black;
}



/* LOGIN PAGE */
.container-account{
	display: flex;
	flex-direction: column;
	align-items: center;
	}

.login-screen{
	margin-top: 6em;
}

.extend-screen{
	min-height: 82vh;
}

.container-account h2{
	margin-top: 0;
	margin-left:0 ;
	font-size: 1.25em;
}




/* CREATE ACCOUNT PAGES */
/* step progress bar citation: http://kodhus.com/newsite/step-progress-bar-css-only/ */
.join-container {
	width: 100%;
	margin: 0 auto;
	padding-top: 9em;
	padding-bottom: 0; 
	text-align: center;
}

.container-account .join-title {
	padding: 3em 0 0 0;
	margin: 0;
}

.container-account .join-description {
	margin: 0.5em 0 0 0 ;
	text-align: center;
	max-width: 40em;
}

.progress-bar {
	counter-reset: step;
	display: inline-block;
	width: 700px;
	padding-left: 0;
}

.progress-bar li {
	list-style-type: none;
	width: 20%;
	float: left;
	font-size: 12px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	color: rgb(205,218,177);
}

.progress-bar li:before {  /* the circle for each step */
	width: 30px;
	height: 30px;
	content: counter(step);
	counter-increment: step;
	line-height: 30px;
	border: 2px solid rgb(205,218,177);
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: white;
	color: rgb(205,218,177);
}

.progress-bar li:after {  /* lines in between each step */
	width: 100%;
	height: 2px;
	content: '';
	position: absolute;
	background-color: rgb(205,218,177);
	top: 15px;
	left: -50%;
	z-index: -1;
}

.progress-bar li:first-child:after {
	content: none;
}

.progress-bar li.active {  /* active: the step name */
	color: rgb(129,156,75);
	text-decoration: none;
}

.progress-bar li.active:before {  /* active: the circle for each step */
	border-color: rgb(129,156,75);
	background-color: rgb(129,156,75);
	color: white;
}

.progress-bar li.active + li:after {  /* active: lines in between each step */
	background-color: rgb(129,156,75);
}

.progress-bar li a {
	text-decoration: none;
	color: rgb(129,156,75);
}

.create-account{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
 	width: 420px;
 	padding-top: 3em;
}

.create-account h2 {
	font-size: 1.25em;
	font-weight: 400;
	margin-top: 0;
	padding: 0;
	align-content: center;
}

.text-input{	/* text field input box */ 
	background-color: white;
	font-family: "Roboto Mono", monospace;
	font-size: 13px;
	width: 400px;
	padding: 0.75em 0 0.75em 1em;
	border-radius: 4em;
	border: 1px solid rgb(129,156,75);
	margin: 0 10px 1.25em 10px;
}

.join-step-container {
	margin-top: 3em;
	margin-bottom: 0;
}

.continue-button {
	text-align: center;
	margin-top: 2em;
}

.continue-button .double-button {
	margin: 0 1em;
}

.continue-button .secondary-button {
	background-color: rgb(205,218,177);
	color: rgb(129,156,75);
}

.continue-button .secondary-button:hover, .continue-button .secondary-button:active, .continue-button .secondary-button:focus {
	background-color: rgb(129,156,75);
	color: black;
}

[selected] {
	background-color: rgb(129,156,75);
}

.card-content:hover, .card-content:active, .card-content:focus {
	background-color: rgb(129,156,75);
}

/* citation for selection: https://css-tricks.com/almanac/selectors/s/selection/ */
.card-content::selection + .card-content::after {
	background-color: rgb(129,156,75);
}


.create-account .half {
	width: 190px;
	margin: 0 10px 1.25em 10px;
}


.summary-container {
	display: flex;
	flex-direction: row;
	margin: 3em;
	padding: 2em;
	background-color: rgb(205,218,177);
}

.summary-content {
	background-color: rgba(255, 255, 255,0.3);
	padding: 1em 2em 0 2em;
	margin-top: 1em;
	margin-right: 4em;
	min-height: 440px;
}

.summary-content ul li{
	list-style: none;
	font-size: 0.9em;
}

.summary-content ul {
	padding-bottom: 1.3em;
	padding-left: 0;
}

.summary-content .summary-title {
	font-size: 1.1em;
	font-weight: 700;
	padding-top: 0.4em;
	padding-bottom: 0;
}








.back{
	border: none;
	border-radius: 5em;
	transition: all 0.3s ease 0s;
	margin-left:80px;
	float:left;
	max-width:100px;
}

.back:hover, .back:active, .back:focus {
	transition: color 0.35s ease-out;
	color: rgb(129,156,75);
}


h2{
	max-width:450px;
	font-size: 3rem;
	margin-left:5rem;
	padding-bottom: 2em;
	font-weight: 500;
}


/* HOW IT WORKS */
.how-main{
	padding-left:50px;
	padding-right:50px;
}

.how-section2 h3, .how-section3 h3, .how-section4 h3{
	font-size:2rem;
	font-weight:500;
}

.how-content p{
	font-size:0.8rem;
}

.how-section1{
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
	align-items:center;
}

.how-section1 .how-content{
	float:left;
	max-width:614px;
	padding-bottom: 2rem;
}

.how-section1 p{
	padding-right:3em;
}

.how-section1 .how-content ul{
	list-style:none;
}

.how-section1 img{
	max-width: 409px;
	margin-bottom: 2rem;
}

/*Citation: center text over an image in flexbox
https://stackoverflow.com/questions/35871294/center-text-over-an-image-in-flexbox*/
.how-section2{
	display:box;
	display:flex;
	box-align:center;
	align-items:center;
	box-pack:center;
	justify-content:center;
}

.how-section2 img{
	position:relative;
}

.how-section2 .how-content{
	position:absolute;
	max-width:512px;
}

.hot-section3{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	flex-wrap:wrap;
	align-items:center;
}

.how-section3 img{
	float:left;
	max-width:614px;
}

.how-section3 .how-content{
	max-width:409px;
	padding-bottom: 2rem;
}

.how-section4{
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
	align-items:center;
}

.how-section4 img{
	max-width:614px;
}

.how-section4 .how-content{
	float:left;
	max-width:409px;
	padding-right:3em;
	padding-bottom: 2rem;
}


/* About */

.about-main{
	padding-left:50px;
	padding-right:50px;
}

.about-title{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	flex-wrap:wrap;
	align-items:center;
}

.about-title h2{
	float:left;
	max-width:300px;
}

.about-title .sub-nav{
	list-style: none;
	font-size: 1rem;
	max-width:500px;
	margin-top:-60px;
}

.about-title .sub-nav li{
	display: inline-block;
	padding: 0 20px;
}

.about-title .sub-nav li a {
	transition: all 0.3s ease 0s;
	color: black;
	text-decoration: none;
}

.about-main .sub-nav li a:hover {
	transition: all 0.3s ease 0s;
	color: rgb(129,156,75);
}

.about-content{
	clear:both;
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
	align-items:center;
}

.about-content p{
	float:left;
	max-width:614px;
	padding-right:3em;
}

.about-content img{
	max-width: 409px;
}


.contact{
	display:box;
	display:flex;
	box-align:center;
	align-items:center;
	box-pack:center;
	justify-content:center;
}

.contact img{
	position:relative;
	max-width:1440px;
}

.contact-heading{
	font-size:2rem;
	font-weight:500;
}

.contact-content{
	position:absolute;
	max-width:500px;
}

.contact-content ul{
	list-style-type: none;	
	margin-top:2em;
}


input{
	display: inline-block;
	background-color: white;
	color: rgb(43,43,43);
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	padding-left: 1em;
	padding-right: 7em;
	border-color: rgb(129,156,75);
	border-width: 1px;
	border-radius: 0.75em;
}

#message{
	height:10rem;
	border-radius: 1.5em;
	padding-top: 0.75em;

}

.send{
	background-color: black;
	color: white;
	padding: 0.75em 2.5em;
	border: none;
	font-size: 0.75em;
	border-radius: 3em;
	transition: background-color 0.35s ease-out;
	margin-left:45px;
}

.send:hover, .send:focus, .send:active{
	background-color: rgb(129,156,75);
}


/* FOOTER */
.footer{
	padding:0.35em;
	color: rgb(129,156,75);
	background-color: rgb(205,218,177);
	font-size: 0.75em;
	bottom: 0;
	margin-top: 6em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}

.footer p{
	margin: 0.5em 5em;

}

.footer a{
	right: 0;
	padding-left: 3em;
	text-decoration: none;
	font-size: 1em;
	font-weight: 700;
}


/* MEDIA: screens below 445px (mobile) */
@media (max-width: 445px) {
	.header .logo {
		margin-left: 0.5em;
	}

	.header .menu-icon {
		margin-right: 1.75em;
	}


	.container-header {
		margin: 1em 0 1em 0;
		text-align: center;
	}

	.container-header h2{
		width: 100vw;
		padding-top: 1.5em;
		font-size: 1.25em;
		text-align: center;
	}

	.container-header p {
		text-align: center;
		font-size: 12px;
	}

	.container-content ul{
		min-height: 250px;
		margin-left: 0;
		padding: 0.5em 2em 0.5em 2em;
	}

	.container-content ul li {
		padding-right: 1em;
	}

	.container-content {
		margin-left: 0;
	}

	.container-content ul li img{
		max-width: 200px;
		padding-bottom: 0.75em;
	}

	.second-container .second-container-content ul{
		display: flex;
		flex-wrap: wrap;
		flex: 1;
		justify-content: center;
	}

	.second-container h2{
		padding-top: 0;
		margin-top: 0;
		font-size: 1.25em;
	}

	.second-container .second-container-content h3{
		font-size: 1em;
	}

	.second-container .second-container-content h2{
		font-size: 1em;
	}

	.second-container .second-container-content p{
		width: 20em;
	}

	.container-content .card-content .plan-price {
		font-size: 1.25em;
	}

	.container-content .pricing-card .card-title {
		font-size: 1.1em;
		padding-top: 0.5em;
	}

	.container-content .card-content .card-title {
		margin-top: 0em;
		font-size: 1.25em;
	}

	.container-content .card-content p {
		font-size: 12px;
	}

	.container-content .pricing-card {
		width: 270px;
		margin-bottom: 1.5em;
		border-radius: 1.5em;
	}

	.container-account {
		padding-top: 5em;
	}

	.login-screen{
	padding-top: 0;
	}

	.extend-screen{
		min-height: 82vh;
	}

	.container-account .long-input-field{
		width: 330px;
		font-size: 0.7em;
	}

	.container-account .join-title {
		font-size: 1.2em;
		padding-bottom: 0.25em;
	}

	.container-account .join-description {
		font-size: 0.9em;
		width: 22em;
	}

	.progress-bar, .join-container  {
		display: none;
	}

	.create-account{
		width: 350px;
	}

	.create-account .half {
		width: 330px;
		font-size: 0.7em;
	}

	.summary-container {
		padding: 0;
		margin-bottom: 0;
		width: 100%;
		align-content: center;
	}

	.summary-container .pricing-container ul{
		margin-right: 0;
	} 

	.summary-container .pricing-card {
		margin:0;
	}

	.summary-content{
		margin-bottom: 2em;
	} 

	.footer {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		justify-content: center;
		font-size: 0.8em;
	}

	.footer a {
		padding: 0em 2em;
		margin: 0;
	}

	.footer p {
		margin: 0.7em 0;
	}
}



/* MEDIA: screens below 800px (ipad) */
@media (max-width: 800px) {
	.second-container .second-container-content h3{
		font-size: 0.9em;
	}

	.second-container .second-container-content h2{
		font-size: 0.9em;
	}

	.second-container .second-container-content p{
		font-size: 0.8em;
	}

	.second-container .second-container-content ul li {
		padding: 0 2em;
	}

	.container-content ul li img{
		width: 280px;
		padding-bottom: 0.75em;
	}

	.container-header p {
		width:32em;
		font-size: 0.9em;
	}

	.progress-bar {
		width: 520px;
	}

	.progress-bar li{
		font-size: 0.65em;
	}

	.container-content .pricing-card img {
		width: 230px;
		padding-bottom: 0;
	}

	.container-content .pricing-card .card-title {
		font-size: 1.1em;
	}

	.summary-container {
		flex-direction: column;
		align-items: center;
	}

	.summary-content{
		margin-right: 0;
		width: auto;
	}

	.footer {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		justify-content: center;
	}

	.footer a {
		padding: 0;
		float: none;
		margin: 0 1em;
	}

	.footer p{
		padding:0;
		margin: 0.4em;
		text-align: center;
	}

}



/*MEDIA: screens above 800px (THIS IS ONLY FOR THE NAVIGATION MENU) */
@media (min-width: 800px) {
	.header {
		align-items: center;
		display: inline-block;
	}

	.header li {
	    float: left;
	    text-align: center;
	    align-content: center;
	}
  
	.header li a {
    	padding: 20px 30px;
	}

	.header .menu {
	    clear: none;
	    max-height: none;
	    font-size: 0.75em;
	}

  	.header .menu-icon{
    	display: none;
  	}

  	.header .nav-button{
		float: right;
		display: inline-block;
		text-align: center;
	}

 	.header .login-button{
 		margin-right: 7em;
 		margin-left: 1.5em;
  	}

  	.header .join-button {
	width: 6.5em;
	}


}



