@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');

html {
	font-family: "Nanum Gothic", sans-serif;
	margin:0;
	padding: 0;
}


*,*::after,*::before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

body{
	margin: 5em 0 0 0;
}

h2{
	font-family: 'Arial', sans-serif;
	font-weight:bold;
	font-size: 4rem;
	font-weight: 700;
	padding-top:3rem;
	padding-left:65px;
	padding-right: 65px;
	padding-bottom:2rem;
	text-align: center;
}

h3{
	font-family: 'Arial', sans-serif;
	font-weight:bold;
}

a {
	color: black;
}

.primary-button {
	font-weight: 400;
	font-size: 0.85em;
	padding: 1em 0;
	min-width: 10em;
	background-color: black;
	color: white;
	border: none;
	border-radius: 15em;
	transition: all 0.25s ease-out;
	display: inline-block;
	text-align: center;
	text-decoration: none
}

.primary-button:hover, .primary-button:active, .primary-button:focus {
	transition: background-color 0.25s ease-out;
	background-color: rgb(129,156,75);
	cursor: pointer;
}

figcaption {
	font-size: 11px;
	font-weight: 400;
	text-align: center;
}


/* HAMBURGER MENU 
citation: https://codepen.io/mutedblues/pen/MmPNPG */
.header {
	font-family: "Nanum Gothic", sans-serif;
	background-color: white;
	position: fixed;
	display: inline-block;
	align-items: center;
	top: 0;
	width: 100vw;
	z-index: 10;
	padding: 1em 0 1em 0;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.1);
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}

.header .menu-items a {
	display: block;
	padding: 12px 12px;
	text-decoration: none;
	transition: .25s ease-out;
	text-align: center;
}

.header .menu-items a:hover, .header .menu-btn:hover {
	background-color: rgb(205,218,177);
	transition: .25s ease-out;
}

.header .logo {
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	display: block;
	float: left;
	padding: 10px 20px;
	margin-left: 2em;
	margin-right: 1em;
}

.header .nav-button .primary-button{
	font-size: 1em;
	padding: 1em 0;
	min-width: 6.4em;
	display: inline-block;
	justify-content: center;
}


.header .menu {
	font-size: 0.8em;
	clear: both;
	max-height: 0;
	transition: max-height .25s ease-out;
}


/* hamburger icon */
.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
	margin-right: 3em;
}

.header .menu-icon .navicon {
	background: black;
	display: block;
	height: 2px;
	width: 18px;
	position: relative;
	transition: background .25s ease-out;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: black;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .25s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}

/* expanded menu within hamburger icon */
.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 290px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;

}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}





/*INDEX CONTENT */
.site-container {
	min-height: 100vh;
	background-color: white;
}

.index-container {
	margin-bottom: 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.index-container .index-image img {
	width: 100vw;
}

.index-container .index-header {
	text-align: center;
	position: absolute;
	top: 15%;
	color: white;
}

.index-container .index-header h2{
	padding: 0 2em;
	margin-left: 0;
	text-align: center;
	font-size: 1.75em;
}

.index-container .index-header p{
	font-size: 1.25em;
	margin-bottom: 3em;
}

.index-container .index-header .secondary-button {
	background-color: black;
	color: white;
	padding: 1em 3em;
	border: none;
	border-radius: 15em;
	transition: all 0.25s ease-out;
	text-decoration: none;
	font-size: 1em;
	font-weight: 400;
	margin-top: 4em;
}

.index-container .index-header .secondary-button:hover, .container .index-header .secondary-button:active, .container .index-header .secondary-button:focus {
	background-color: rgb(129,156,75);
	transition: all 0.25s ease-out;
}

/*
.container-header {
text-align: center;
}

.container-header h2 {
margin-left: 0;
padding-bottom: 0;
}

.container-header p {
max-width: 45em;
font-size: 1em;
padding-bottom: 0.5em;
}

.container-content ul{
background-color: transparent;
min-width: auto;
min-height: 300px;
padding-bottom: 2em;
display: flex;
overflow-x: auto;
margin-left: 2em;
margin-right: 0.5em;
list-style: none;
}

.container-content ul li {
padding-right: 2em;
}

.container-content ul::-webkit-scrollbar {
display: none;
}

.container-content ul li img{
width: 330px;
} */

.index-second-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 3em;
}

.index-second-container h2{
	font-size: 3rem;
	padding-bottom: 0;
	margin-left: 0;
}

.index-second-container .second-container-content ul{
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: center;
	list-style: none;
	margin: 0 2em;
	padding-left: 0;
	padding-bottom: 3em;
}


.index-second-container .second-container-content ul li{
	text-align: center;
	padding: 0 3em;
}

.index-second-container .second-container-content h3{
	color: rgb(129,156,75);
}

.index-second-container .second-container-content h2{
	font-size: 1.4em;
	margin-left: 0;
}

.index-second-container .second-container-content p{
	font-size: 0.9em;
}

.index-third-container {
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: rgb(205,218,177);
	padding-bottom: 3em;
}

.index-third-container h2 {
	margin-left: 0;
	font-size:1.75em;
}

.index-third-container ul {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: center;
	list-style: none;
	padding: 0 1em;
	margin-bottom: 2em;
}

.index-third-container ul img {
	width: 160px;
	padding: 0.5em;
	align-content: center;
}




/* PRODUCT CARDS */

.card-content {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.25);
	padding-top: 2em;
	padding-left: 2em;
}

.container-content .card-content .card-title {
	font-size: 1.25em;
	font-weight: 700;
	margin-top: 0.5;
	padding: 0.5em 0 0.5em 0;
}

.container-content .card-content p {
	font-size: 1.15em;
	padding: 0 0.75em 0em 0.75em;
}

.container-content .card-content button {
	margin-top: 1em;
	margin-bottom: 1em;
}




/* PRICING PAGE */
.container-content .card-content .plan-price {
	font-size: 1.25em;
	font-weight: 700;
	color: rgb(129,156,75);
	padding-top: 0;
}

.container-content .pricing-card .card-title {
	font-size: 1.3em;
	font-weight: 700;
	color: white;
	margin-bottom: 0;
	padding: 0.25em 0 0.6em 0;
}

.container-content .pricing-card img {
	width: 280px;
}

.container-content .pricing-card {
	background-color:rgb(129,156,75);
	width: 340px;
	padding: 0 5px 0.6em 5px;
	margin-right: 3em;
	margin-bottom: 2em;
	border-radius: 1.25em;
}

.container-content ul{
	list-style: none;
}

.container-content .pricing-card p {
	color: rgb(205,218,177);
}

.container-content .pricing-card .plan-price {
	color: white;
	font-size: 1.5em;
}

.container-content .pricing-card button:hover, .container-content .pricing-card button:active, .container-content .pricing-card button:focus {
	background-color: rgb(205,218,177);
	color: black;
}


.pricing-content{
	clear:both;
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
	align-items:center;
}

.pricing-content p{
	float:left;
	max-width:70%;
	padding-bottom:3rem;
	line-height: 2em;
}


/*events*/

.events-content{
	clear:both;
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
	align-items:center;
}

.events-content p{
	float:left;
	max-width:70%;
	padding-bottom:3rem;
	line-height: 2em;
}


/* LOGIN PAGE */
.container-account{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-screen{
	margin-top: 6em;
}

.extend-screen{
	min-height: 82vh;
}

.container-account h2{
	margin-top: 0;
	margin-left:0 ;
	font-size: 1.25em;
}




/* CREATE ACCOUNT PAGES */
/* step progress bar citation: http://kodhus.com/newsite/step-progress-bar-css-only/ */
.join-container {
	width: 100%;
	margin: 0 auto;
	padding-top: 4em;
	padding-bottom: 0; 
	text-align: center;
}

.container-account .join-title {
	padding: 3em 0 0 0;
	margin: 0;
}

.container-account .join-description {
	margin: 0.5em 0 0 0 ;
	text-align: center;
	max-width: 40em;
}

.progress-bar {
	counter-reset: step;
	display: inline-block;
	width: 700px;
	padding-left: 0;
}

.progress-bar li {
	list-style-type: none;
	width: 20%;
	float: left;
	font-size: 12px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	color: rgb(205,218,177);
}

.progress-bar li:before {  /* the circle for each step */
	width: 30px;
	height: 30px;
	content: counter(step);
	counter-increment: step;
	line-height: 30px;
	border: 2px solid rgb(205,218,177);
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: white;
	color: rgb(205,218,177);
}

.progress-bar li:after {  /* lines in between each step */
	width: 100%;
	height: 2px;
	content: '';
	position: absolute;
	background-color: rgb(205,218,177);
	top: 15px;
	left: -50%;
	z-index: -1;
}

.progress-bar li:first-child:after {
	content: none;
}

.progress-bar li.active {  /* active: the step name */
	color: rgb(129,156,75);
	text-decoration: none;
}

.progress-bar li.active:before {  /* active: the circle for each step */
	border-color: rgb(129,156,75);
	background-color: rgb(129,156,75);
	color: white;
}

.progress-bar li.active + li:after {  /* active: lines in between each step */
	background-color: rgb(129,156,75);
}

.progress-bar li a {
	text-decoration: none;
	color: rgb(129,156,75);
}

.create-account{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 420px;
	padding-top: 3em;
}

.create-account h2 {
	font-size: 1.25em;
	font-weight: 400;
	margin-top: 0;
	padding: 0;
	align-content: center;
}

.text-input{	/* text field input box */ 
	background-color: white;
	font-family: "Roboto Mono", monospace;
	font-size: 13px;
	width: 400px;
	padding: 0.75em 0 0.75em 1em;
	border-radius: 4em;
	border: 1px solid rgb(129,156,75);
	margin: 0 10px 1.25em 10px;
}

.join-step-container {
	margin-top: 3em;
	margin-bottom: 0;
}

.continue-button {
	text-align: center;
	margin-top: 2em;
}

.continue-button .double-button {
	margin: 0 1em;
}

.continue-button .secondary-button {
	background-color: rgb(205,218,177);
	color: rgb(129,156,75);
}

.continue-button .secondary-button:hover, .continue-button .secondary-button:active, .continue-button .secondary-button:focus {
	background-color: rgb(129,156,75);
	color: black;
}

[selected] {
	background-color: rgb(129,156,75);
}

.card-content:hover, .card-content:active, .card-content:focus {
	background-color: rgb(129,156,75);
}

/* citation for selection: https://css-tricks.com/almanac/selectors/s/selection/ */
.card-content::selection + .card-content::after {
	background-color: rgb(129,156,75);
}


.create-account .half {
	width: 190px;
	margin: 0 10px 1.25em 10px;
}


.summary-container {
	display: flex;
	flex-direction: row;
	margin: 3em;
	padding: 2em;
	background-color: rgb(205,218,177);
}

.summary-content {
	background-color: rgba(255, 255, 255,0.3);
	padding: 1em 2em 0 2em;
	margin-top: 1em;
	margin-right: 4em;
	min-height: 440px;
}

.summary-content ul li{
	list-style: none;
	font-size: 0.9em;
}

.summary-content ul {
	padding-bottom: 1.3em;
	padding-left: 0;
}

.summary-content .summary-title {
	font-size: 1.1em;
	font-weight: 700;
	padding-top: 0.4em;
	padding-bottom: 0;
}








.back{
	border: none;
	border-radius: 5em;
	transition: all 0.3s ease 0s;
	margin-left:80px;
	float:left;
	max-width:100px;
}

.back:hover, .back:active, .back:focus {
	transition: color 0.35s ease-out;
	color: rgb(129,156,75);
}


/* HOW IT WORKS */

.header-title img{
	max-width: 100%;
	height:auto;
}

.how-section2 h3, .how-section3 h3, .how-section4 h3{
	font-size:2rem;
	font-weight:700;
}

.how-content p{
	font-size:0.8rem;
}

.how-section1{
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
	align-items:center;
	padding-bottom: 5rem;
}

.how-section1 .how-content{
	float:left;
	max-width:892px;
	padding-bottom: 2rem;
}

.how-section1 p{
	padding-right:4em;
}

.how-section1 .how-content ul{
	list-style:none;
}


/*Citation: center text over an image in flexbox
https://stackoverflow.com/questions/35871294/center-text-over-an-image-in-flexbox*/
.how-section2{
	display:box;
	display:flex;
	box-align:center;
	align-items:center;
	box-pack:center;
	justify-content:center;
	padding-bottom: 5rem;
}

.how-section2 img{
	position:relative;
	max-width:100%;
	height:auto;
}

.how-section2 p, .how-section3 p, .how-section4 p{
	padding-bottom: 2rem;
	line-height: 1.5em;
}

.how-section2 .how-content{
	position:absolute;
	color:black;
}

.how-section2 p{
	max-width: 60%;
}

.how-section3{
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
	align-items:center;
	padding-bottom: 5rem;
}

.how-section3 img{
	max-width:672px;
	float:left;
}

.how-section3 .how-content{
	max-width:448px;
	padding-left:3rem;
}

.how-section4{
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
	align-items:center;
	padding-bottom: 5rem;
}

.how-section4 img{
	max-width:614px;
}

.how-section4 .how-content{
	float:left;
	max-width:409px;
	padding-right:3em;
}


/* About */

.about-content{
	clear:both;
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
	align-items:center;
}

.about-content p{
	float:left;
	max-width:70%;
	padding-bottom:3rem;
	line-height: 2em;
}


.contact{
	display:box;
	display:flex;
	box-align:center;
	align-items:center;
	box-pack:center;
	justify-content:center;
}

.contact img{
	position:relative;
	max-width:100%;
}

.contact-content{
	position:absolute;
}

.contact-content h3{
	font-size:2rem;
	font-weight: bolder;
}

.contact-content ul{
	list-style-type: none;	
	margin-top:2em;
}


input{
	display: inline-block;
	background-color: white;
	color: rgb(43,43,43);
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	padding-left: 1em;
	padding-right: 7em;
	border-color: rgb(129,156,75);
	border-width: 1px;
	border-radius: 0.75em;
}

#message{
	height:10rem;
	border-radius: 1.5em;
	padding-top: 0.75em;

}

.secondary-button {
	font-weight: normal;
	font-size: 0.75em;
	padding: 1em 0;
	min-width: 10em;
	background-color: black;
	color: white;
	border: none;
	border-radius: 15em;
	transition: all 0.25s ease-out;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

.secondary-button:hover, .secondary-button:active, .secondary-button:focus {
	transition: background-color 0.25s ease-out;
	background-color: rgb(129,156,75);
	cursor: pointer;
}


/* Profile */

.profile-container {
	padding: 0 15em;
	display: flex;
	flex-direction: row;
}

.profile-container .profile-title {
	min-width: 8em;
	padding-top: 3em;
}


.profile-nav nav{
	list-style: none;
	font-size: 0.9rem;
	max-width:500px;
	margin:0;

	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
}

.profile-container .profile-nav nav ul{
	list-style: none;
	padding: 0;
}

.profile-container .profile-nav nav ul li {
	padding-bottom: 1em;
}

.profile-container .profile-nav nav ul li a {
	transition: all 0.3s ease 0s;
	color: black;
	text-decoration: none;
}

.profile-container .profile-nav nav ul li a:hover {
	transition: all 0.3s ease 0s;
	color: rgb(129,156,75);
}

.profile-main{
	background-color: rgb(205,218,177);
	padding: 0 50px;
	width: 100%;
	min-height: 60vh;
	margin: 5em 0 0 9em;	
}

.profile-main ul{
	list-style: none;
	padding-top: 1.5em;
}

.profile-main ul li{
	padding-bottom: 0.75em;
}

.profile-main button{
	margin: 1.5em 0 3em 3em;
}

.profile-main h4 {
	margin-bottom: 0.75em;
	padding-left: 10px;
}

.profile-main .text-input {
	margin-bottom: 0;
}

/* Payments */
.payments-main{
	padding-left:50px;
	padding-right:50px;
}

.payments-main ul{
	list-style-type: none;	
	padding-left:3.5rem;
}

.payments-main .save{
	margin-left:2rem;
}


/* FOOTER */
footer{
	padding:2em;
	color: white;
	background-color: rgb(129,156,75);
	font-size: 0.75em;
	bottom: 0;
	margin-top: 5em;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	text-align: center;
}

footer a{
	margin: 0.6em 3em;
	text-decoration: none;
	font-size: 1em;
	font-weight: 700;
	color: white;
}

/* CITATIONS PAGE */
.container-citations {
}

.container-citations ul{
	list-style: none;
	padding: 0;
	margin: 0 4.5em;
}

.container-citations ul li{
	padding-bottom: 1em;
}


/* MEDIA: screens below 600px (mobile) */
@media (max-width: 600px) {
	.header .logo {
		margin-left: 0.5em;
	}

	.header .menu-icon {
		margin-right: 1.75em;
	}


	.container-header {
		margin: 1em 0 1em 0;
		text-align: center;
	}

	.container-header h2{
		width: 100vw;
		padding-top: 1.5em;
		font-size: 1.25em;
		text-align: center;
	}

	.container-header p {
		text-align: center;
		font-size: 12px;
	}

	.container-content ul{
		min-height: 250px;
		margin-left: 0;
		padding: 0.5em 2em 0.5em 2em;
	}

	.container-content ul li {
		padding-right: 1em;

	}

	.container-content {
		margin-left: 0;
	}

	.container-content ul li img{
		max-width: 200px;
		padding-bottom: 0.75em;
	}

	.second-container h2{
		padding-top: 0;
		margin-top: 0;
		font-size: 1.25em;
	}

	.second-container .second-container-content h3{
		font-size: 1em;
	}

	.second-container .second-container-content h2{
		font-size: 1em;
	}

	.second-container .second-container-content p{
		width: 20em;
	}

	.container-content .card-content .plan-price {
		font-size: 1.25em;
	}

	.container-content .pricing-card .card-title {
		font-size: 1.1em;
		padding-top: 1em;
	}

	.container-content .card-content .card-title {
		margin-top: 0em;
		font-size: 1.25em;
	}

	.container-content .card-content p {
		font-size: 12px;
	}

	.container-content .pricing-card {
		width: 270px;
		margin-bottom: 1.5em;
		border-radius: 1.5em;
	}

	.container-account {
		padding-top: 5em;
	}

	.login-screen{
		padding-top: 0;
	}

	.extend-screen{
		min-height: 82vh;
	}

	.container-account .long-input-field{
		width: 330px;
		font-size: 0.7em;
	}

	.container-account .join-title {
		font-size: 1.2em;
		padding-bottom: 0.25em;
	}

	.container-account .join-description {
		font-size: 0.9em;
		width: 22em;
	}

	.progress-bar, .join-container  {
		display: none;
	}

	.create-account{
		width: 350px;
	}

	.create-account .half {
		width: 330px;
		font-size: 0.7em;
	}

	.summary-container {
		padding: 0;
		margin-bottom: 0;
		width: 100%;
		align-content: center;
	}

	.summary-container .pricing-container ul{
		margin-right: 0;
	} 

	.summary-container .pricing-card {
		margin:0;
	}

	.summary-content{
		margin-bottom: 2em;
	} 



	/* HOW IT WORKS */

	.how-main{
		float:none;
	}

	.how-main img{
		max-width:100%;
	}
	.how-content p{
		font-size:0.8rem;
	}

	.how-section1{
		padding-bottom: 3rem;
	}

	.how-section1 p{
		padding-right:0em;
	}


	.how-section2{
		padding-bottom: 3rem;
	}

	.how-section2 .how-content{
		max-width:80%;
	}

	.how-section2 p{
		margin-top:-1.5rem;
		font-size:0.6rem;
		padding-bottom: 0rem;
	}

	.how-section2 .secondary-button{
		font-size:0.6rem;
	}

	.how-section3{
		flex-direction:column-reverse;
		padding-bottom: 3rem;
	}


	.how-section3 .how-content{
		max-width:80%;
		padding-left:0rem;
	}

	.how-section4{
		flex-direction:column;
		padding-bottom: 3rem;
	}


	.how-section4 .how-content{
		max-width:80%;
		padding-right:0em;
	}


	/* About */

	.about-content p{
		padding-bottom: 3rem;
	}


	/*Contact*/

	.contact-content{
		margin-top:23rem;
	}

	.contact-content ul{
		margin-top:1em;
		font-size:0.5rem;
		padding-left:0;
	}

	.contact-content .text-input{

		padding-left: 1em;
		padding-right: 0em;
		border-radius: 2em;
		font-size:0.8rem;
		max-width: 250px;
	}


	input{
		display: inline-block;
		background-color: white;
		color: rgb(43,43,43);
		padding-top: 0.75em;
		padding-bottom: 0.75em;
		padding-left: 1em;
		padding-right: 7em;
		border-color: rgb(129,156,75);
		border-width: 1px;
		border-radius: 0.75em;
	}

	#message{
		height:1rem;
		border-radius: 1.5em;
		padding-top: 0.75em;

	}

	.secondary-button{
		margin-bottom:2rem; 
	}

	footer{
		margin-top:45em;
	}

}



/* MEDIA: screens above 600 px (portrait tablets and large phones) */
@media (min-width: 600px) {

	.index-container .index-header h2{
		font-size: 2.25em;
	}

	.index-container .index-header p{
		font-size: 1.25em;
	}

	.index-container .index-header .secondary-button {
		font-size: 1.25em;
	}

	.payments-main .text-input{
		padding-left: 1em;
		padding-right: 0em;
		border-radius: 2em;
		font-size:0.8rem;
		max-width: 300px;
	}

	.save{
		margin-left:0;
	}

	/* HOW IT WORKS */

	.how-main{
		float:none;
	}

	.how-main img{
		max-width:100%;
	}
	.how-content p{
		font-size:0.8rem;
	}

	.how-section1{
		padding-bottom: 3rem;
	}

	.how-section1 p{
		padding-right:0em;
	}


	.how-section2{
		flex-direction:column;
		padding-bottom: 3rem;
	}

	.how-section2 .how-content{
		max-width:80%;
	}

	.how-section2 p{
		margin-top:-1.5rem;
		font-size:0.6rem;
		padding-bottom: 0rem;
	}

	.how-section2 .secondary-button{
		font-size:0.6rem;
	}

	.how-section3{
		flex-direction:column-reverse;
		padding-bottom: 3rem;
	}


	.how-section3 .how-content{
		max-width:40%;
		padding-left:0em;
	}

	.how-section4{
		flex-direction:column;
		padding-bottom: 3rem;
	}


	.how-section4 .how-content{
		max-width:40%;
		padding-right:0em;
	}


	/* About */

	.about-content p{
		padding-bottom: 3rem;
	}


	/*Contact*/

	.contact-content{
		position:static;
		max-width:100%;
	}

	.contact-content ul{
		margin-top:1em;
		font-size:0.5rem;
		padding-left:0;
	}

	.contact-content .text-input{
		padding-left: 1em;
		padding-right: 0em;
		border-radius: 2em;
		font-size:0.8rem;
		max-width: 250px;
	}



	footer {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		justify-content: center;
		font-size: 0.8em;
	}


	footer a {
		padding: 0em 2em;
		margin: 0;
	}

	footer p {
		margin: 0.7em 0;
	}



}



/* MEDIA: screens above 768px (ipad) */
@media (min-width: 768px) {
	.second-container .second-container-content h3{
		font-size: 0.9em;
	}

	.index-second-container .second-container-content h2{
		font-size: 0.9em;
		margin-right: 0;
	}

	.index-second-container .second-container-content p{
		font-size: 0.8em;
		max-width: 10em;
	}

	.index-second-container .second-container-content ul li {
		padding: 0 2em;
	}


	.container-content ul li img{
		width: 280px;
		padding-bottom: 0.75em;
	}

	.container-header p {
		width:32em;
		font-size: 0.9em;
	}

	.progress-bar {
		width: 520px;
	}

	.progress-bar li{
		font-size: 0.65em;
	}

	.container-content .pricing-card img {
		width: 230px;
		padding-bottom: 0;
	}

	.container-content .pricing-card .card-title {
		font-size: 1.1em;
	}

	.summary-container {
		flex-direction: column;
		align-items: center;
	}

	.summary-content{
		margin-right: 0;
		width: auto;
	}


	/* HOW IT WORKS */

	.header-title img{
		max-width: 100%;
		height:auto;
	}

	.how-section2 h3, .how-section3 h3, .how-section4 h3{
		font-size:2rem;
		font-weight:700;
	}

	.how-content p{
		font-size:0.8rem;
	}

	.how-section1{
		display:flex;
		flex-direction:row;
		justify-content:center;
		flex-wrap:wrap;
		align-items:center;
		padding-bottom: 5rem;
	}

	.how-section1 .how-content{
		float:left;
		max-width:892px;
		padding-bottom: 2rem;
	}

	.how-section1 p{
		padding-right:4em;
	}

	.how-section1 .how-content ul{
		list-style:none;
	}


	.how-section2{
		flex-direction:column;
		padding-bottom: 3rem;
	}

	.how-section2 p{

		max-width:60%;

	}


	.how-section3{
		display:flex;
		flex-direction:row;
		justify-content:center;
		flex-wrap:wrap;
		align-items:center;
		padding-bottom: 5rem;
	}

	.how-section3 img{
		max-width:672px;
		float:left;
	}

	.how-section3 .how-content{
		max-width:448px;
		padding-left:3rem;
	}

	.how-section4{
		display:flex;
		flex-direction:row;
		justify-content:center;
		flex-wrap:wrap;
		align-items:center;
		padding-bottom: 5rem;
	}

	.how-section4 img{
		max-width:614px;
	}

	.how-section4 .how-content{
		float:left;
		max-width:409px;
		padding-right:3em;
	}


	/* About */

	.about-content{
		clear:both;
		display:flex;
		flex-direction:row;
		justify-content:center;
		flex-wrap:wrap;
		align-items:center;
	}

	.about-content p{
		float:left;
		max-width:70%;
		padding-bottom:3rem;
		line-height: 2em;
	}


	.contact{
		display:box;
		display:flex;
		box-align:center;
		align-items:center;
		box-pack:center;
		justify-content:center;
	}

	.contact img{
		position:relative;
		max-width:100%;
	}

	.contact-content{
		position:absolute;
	}

	.contact-content h3{
		font-size:2rem;
		font-weight: bolder;
	}

	.contact-content ul{
		list-style-type: none;	
		margin-top:2em;
	}


	/* Profile */
/*
.profile-main{
	padding-left:30px;
	padding-right:30px;
}

.profile-title h2{
	float:none;
}

.profile-title .profile-nav{
	margin-top:-1rem;
	padding-bottom: 1rem;
	margin-left:0.7rem;
}

.payments-main ul{
	padding-left:0;
	margin-left:-0.8rem;
}


*/
}



/*MEDIA: screens above 992px (laptops/desktops)*/
@media (min-width: 992px) {
	.header {
		align-items: center;
		display: inline-block;
	}

	.header li {
		float: left;
		text-align: center;
		align-content: center;
	}

	.header li a {
		padding: 20px 30px;
	}

	.header .menu {
		clear: none;
		max-height: none;
		font-size: 0.75em;
	}

	.header .menu-icon{
		display: none;
	}

	.header .nav-button{
		float: right;
		display: inline-block;
		text-align: center;
	}

	.header .login-button{
		margin-right: 7em;
		margin-left: 1.5em;
	}

	.header .join-button {
		width: 6.5em;
	}

	.index-container .index-header h2{
		font-size: 2.5em;
		min-width: 30em;
	}

	.index-container .index-header p{
		font-size: 1.5em;
		margin-bottom: 3em;
	}

	.index-container .index-header .secondary-button {
		font-size: 1em;
	}

	.site-container .index-second-container .second-container-content h2{
		font-size: 0.9em;
	}

	.site-container .index-second-container .second-container-content p{
		max-width: 20em;
	}

	.index-third-container ul img {
		width: 300px;
	}


	.header-title img{
		max-width: 100%;
		height:auto;
	}

	.how-section2 h3, .how-section3 h3, .how-section4 h3{
		font-size:2rem;
		font-weight:700;
	}

	.how-content p{
		font-size:0.8rem;
	}

	.how-section1{
		display:flex;
		flex-direction:row;
		justify-content:center;
		flex-wrap:wrap;
		align-items:center;
		padding-bottom: 5rem;
	}

	.how-section1 .how-content{
		float:left;
		max-width:892px;
		padding-bottom: 2rem;
	}

	.how-section1 p{
		padding-right:4em;
	}

	.how-section1 .how-content ul{
		list-style:none;
	}


	.how-section2{
		display:box;
		display:flex;
		box-align:center;
		align-items:center;
		box-pack:center;
		justify-content:center;
		padding-bottom: 5rem;
	}

	.how-section2 img{
		position:relative;
		max-width:100%;
		height:auto;
	}

	.how-section2 p, .how-section3 p, .how-section4 p{
		padding-bottom: 2rem;
		line-height: 1.5em;
	}

	.how-section2 .how-content{
		position:absolute;
		color:black;
	}

	.how-section3{
		display:flex;
		flex-direction:row;
		justify-content:center;
		flex-wrap:wrap;
		align-items:center;
		padding-bottom: 5rem;
	}

	.how-section3 img{
		max-width:672px;
		float:left;
	}

	.how-section3 .how-content{
		max-width:448px;
		padding-left:3rem;
	}

	.how-section4{
		display:flex;
		flex-direction:row;
		justify-content:center;
		flex-wrap:wrap;
		align-items:center;
		padding-bottom: 5rem;
	}

	.how-section4 img{
		max-width:614px;
	}

	.how-section4 .how-content{
		float:left;
		max-width:409px;
		padding-right:3em;
	}


	.about-content{
		clear:both;
		display:flex;
		flex-direction:row;
		justify-content:center;
		flex-wrap:wrap;
		align-items:center;
	}

	.about-content p{
		float:left;
		max-width:70%;
		padding-bottom:3rem;
		line-height: 2em;
	}


	.contact{
		display:box;
		display:flex;
		box-align:center;
		align-items:center;
		box-pack:center;
		justify-content:center;
	}

	.contact img{
		position:relative;
		max-width:100%;
	}

	.contact-content{
		position:absolute;
	}

	.contact-content h3{
		font-size:2rem;
		font-weight: bolder;
	}

	.contact-content ul{
		list-style-type: none;	
		margin-top:2em;
	}


}



