body{
	font-family: 'Open Sans', sans-serif;
	padding: 5rem;
}

h1, h2, h3{
	font-family: 'Lato', sans-serif;
}

section code{
	background-color:#a0a0a0;
}

section .in_text{
	color:#486c75;
}

section .nav_button{
	color:#8eaab0;
	text-decoration:none;
}

section .nav_button:hover{
	color:#486c75;
	text-decoration:none;
}

/*reference: https://www.w3schools.com/css/css3_buttons.asp*/
section .input_button{
	background-color:#8eaab0;
	color:#f7f7f7;
	width:30%;
	border-radius:40%;
	transition: 0.3s;
}

section .input_button:hover{
	background-color:#486c75;
	color:#f7f7f7;
	border-radius:30%;
}

section .text_field{
	border-radius:10%;
}

section .main_nav{
	color:#8eaab0;
	text-decoration:none;
}

section .main_nav:hover{
	color:#486c75;
	text-decoration:none;
}

section .main_nav:active{
	color:#486c75;
	text-decoration:none;
}

section .container .block1, .block2, .block3, .block4, .block5{
	height:200px;
}

section .container .block1{
	background-color:#486c75;
}

section .container .block2{
	background-color:#8eaab0;
}

section .container .block3{
	background-color:#d5d6d1;
}

section .container .block4{
	background-color:#f7f7f7;
}

section .container .block5{
	background-color:#000000;
}

@media (min-width: 30em){
	/*cite from lecture*/
	*, *::after, *::before{
		box-sizing: border-box; /*https://www.w3schools.com/cssref/css3_pr_box-sizing.asp*/
	}

	div{
		columns:5; /*https://www.w3schools.com/cssref/pr_grid-auto-columns.asp*/
	}
}
img{
	max-height:100%;
	max-width:100%;
}
